<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about us</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<header>
    <nav>
        <ul>
            <li><a href="sign%20up.html" title="Sign Up"><strong>Sign Up</strong></a></li>
            <li><a href="login%20page.html" title="Log In"><strong>Log In</strong></a></li>
            <li><a href="aboutus.html" title="Go to the About Us Page"><strong>About Us</strong></a></li>
        </ul>
    </nav>
    <img class="logo" src="../img/accepted-design-template-48a9e766d62c1a3829317b368fafe817_screen.jpg"
         alt="accepted!"
         width="100" height="100"/>
</header>
<body>
<br><br><br><br><br><br><br><br><br><br><br><br>

<p>We are a group of students who dream of making higher education accessible and easy for every one by creating a simple and personalized platform
    to help you reach your future.
</p>
<br><br><br><br><br><br><br><br>
<img class="downpics" src="../img/pic_LG_classroom-1200x480.jpg" alt="accepted!" >
</body>
</html>