<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>loading</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<header>
    <img class="logo" src="../img/accepted-design-template-48a9e766d62c1a3829317b368fafe817_screen.jpg"
         alt="accepted!"
         width="100" height="100"/>
</header>
<body class="loading" >
<br><br><br><br><br><br>
<h1>we are taking care of your academic future ... </h1>
<div id="load">
    <div>G</div>
    <div>N</div>
    <div>I</div>
    <div>D</div>
    <div>A</div>
    <div>O</div>
    <div>L</div>
</div>
</body>
</html>