<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>user page</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header>
    <nav>
        <ul>
            <li><a href="sign%20up.html" title="Sign Up"><strong>Sign Up</strong></a></li>
            <li><a href="login%20page.html" title="Log In"><strong>Log In</strong></a></li>
            <li><a href="aboutus.html" title="Go to the About Us Page"><strong>About Us</strong></a></li>
        </ul>
    </nav>
    <img class="logo" src="../img/accepted-design-template-48a9e766d62c1a3829317b368fafe817_screen.jpg"
         alt="accepted!"
         width="100" height="100"/>
</header>
<body>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<p class="line-1 anim-typewriter">welcome (user name ......) to your private section page </p>
<br><br><br><br>
<p>look up a Degree or institution your interested in</p>
<br><br><br>
<form class="example" action="/action_page.php">
    <input type="text" placeholder="Search..." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>
<br><br><br><br><br><br>
<a href="inputingGrades.html" title="edit grades"><input type="submit" value="Edit My Grades"></a>
</body>
</html>