* {
    text-align: center;
    font-style: oblique;
}

header {
    float: top;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #5b8bdf 0%, #00cce5 100%)
}

h1 {
    font-size: 600%;
    color: white;
    text-align: center;
}

h1.smaller {
    font-size: 400%;
}

img.logo {
    border-radius: 200px;
    margin-right: 10px;
    float: left;
    border-style: solid;
    border-color: green;
    border-width: thick;
}

img.downpics {

    border-width: thick;
    border-color: #2c64c6;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;

}


p {
    color: white;
    text-align: center;
    font-size: 25px;
    font-style: oblique;
}

select.points {
    text-align: left;
    font-size: small;
    font-style: oblique;
    max-width: 75px;
}

select.subjects {
    text-align: left;
    font-size: small;
    font-style: oblique;
    max-width: 160px;

}

label {
    color: white;
    text-align: center;
    font-size: large;
    font-style: oblique;
}

input[type=text], select, input[type=number], input[type=password], input[type=email] {
    min-width: 20vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #2c64c6;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}

input[type=text]:hover, select:hover, input[type=number]:hover {
    background-color: lightsteelblue;
    max-width: border-box
}

input[type=submit], input[type=button] {
    background-color: #2c64c6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: #204393;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: turquoise;
    background-color: transparent;
    text-decoration: none;

}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #204393;
    float: right;
    border-radius: 10px;
}


li a {
    margin-right: 30px;
    display: block;
    padding: 8px;
    float: right;
    font-size: 30px;

}

li {
    display: inline;
}

table {
    margin-left: 34vh;
    width: 60%;
}

th {
    font-size: large;
}

table.results {
    float: right;
    width: 100%;
    border-collapse: collapse;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.container {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 1px;
}

textarea {
    width: 100%;
    padding: 12px;
    border: 3px solid #2c64c6;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

textarea:hover {
    background-color: lightsteelblue;
}

label.contact {
    color: black
}

/* The message box is shown when the user clicks on the password field */
#message {
    position: absolute;
    display: none;
    background: white;
    color: #000;
    position: relative;
    padding: 10px;
    margin-top: 10px;
    max-width: 30vh;
    border-style: solid;
    border-width: 3px;
    border-color: #2c64c6;
    margin-left: 675px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}


#load {
    position: absolute;
    width: 600px;
    height: 36px;
    left: 50%;
    top: 40%;
    margin-left: -300px;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#load div {
    position: absolute;
    width: 20px;
    height: 36px;
    opacity: 0;
    font-family: Helvetica, Arial, sans-serif;
    animation: move 2s linear infinite;
    -o-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    -webkit-animation: move 2s linear infinite;
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    color: white;
}

#load div:nth-child(2) {
    animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

#load div:nth-child(3) {
    animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

#load div:nth-child(4) {
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

#load div:nth-child(5) {
    animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

#load div:nth-child(6) {
    animation-delay: 1s;
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

#load div:nth-child(7) {
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}

@keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }
    35% {
        left: 41%;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
    65% {
        left: 59%;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        left: 100%;
        -moz-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}

@-moz-keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }
    35% {
        left: 41%;
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
    65% {
        left: 59%;
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        left: 100%;
        -moz-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}

@-webkit-keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }
    35% {
        left: 41%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
    65% {
        left: 59%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        left: 100%;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}

@-o-keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }
    35% {
        left: 41%;
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
    65% {
        left: 59%;
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        left: 100%;
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
.line-1 {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}

form.example button {
    width: 10%;
    padding: 10px;
    background: #2c64c6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;;
    border-radius: 40px;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin: auto;
    max-width: 70px;
    max-height: 50px;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}